<div class="detail-section">
    <div class="container-fluid">
        <img src= "{{ product.imageUrl }}" class = "detail-img">
        <h3 class="cntr">{{ product.name }}</h3>
        <div class="price">{{product.unitPrice}}</div>
        <div class="cntr">
        <button (click)="addToCart()" class=" btn btn-primary btn-sm">Add to cart</button>
        </div>
        <hr>
        <h4 class="cntr">Description</h4>
        <p class="cntr">{{ product.description }}</p>

        <a routerLink="/products" class="cntr mt-5"> Back to Product List</a>
    </div>

</div>
