<table class="table">

    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
        </tr>
</thead>

<tbody>
    <tr *ngFor="let tempProduct of products">
        <td class="align-middle">
            <img src="{{ tempProduct.imageUrl }}" height="80">
        </td>
        <td class="align-middle">{{tempProduct.name}}</td>
        <td class="align-middle">{{tempProduct.unitPrice}}</td>
        <td class="align-middle">{{tempProduct.unitsInStock}}</td>
    </tr>
</tbody>
</table>
